
/* 卡片 */
.vip_card{width: 262px;border:1px solid #e6e6e6;padding: 30px 18px;font-size: 12px;color: #666;background:#fff; }
.vip_card_data ul:after { content: ""; display: block; clear: both; }
.vip_card_data_img{width: 62px;height: 62px;border:1px solid #e6e6e6;float: left;margin-right: 10px;margin-bottom:10px;}
.vip_card_data_img img{width: 62px;height: 62px;}
.vip_card_data_li01{width: 188px;float:left;font-size: 16px;color: #666;padding-bottom: 8px;}
.vip_card_data_li02{width: 188px;float:left;font-size: 12px;color: #999;margin-bottom: 2px;}
.vip_card_data_li02 span{float:left;margin-right: 5px;}
.vip_card_data_li02 #no-confirm,.vip_card_data_li02 #confirm{float:left;margin-left: 0px;}

.vip_card_data_div01{width: 262px;line-height: 23px;}
#Authentication{color: #cc0000;}
.vip_card_data_div05{padding: 10px 0px;}
.vip_card_data_div05 a{padding:5px 10px;border-radius: 5px;background: #ce3232;margin-right: 25px;color:#fff;display: inline-block;}
.vip_card_data_div05 a span:after { content: ""; display: inline;}
.vip_card_data_div05 a.fouthTalk{padding-left: 28px;background:#ce3232 url(../../images/experts_01.png) 10px center no-repeat;}
.vip_card_data_div05 a:hover{background-color: #e05656;color:#fff;}
.vip_card_data_div05 a .nfollow-img{padding-left: 18px;background: url(../../images/experts_02.png) left center no-repeat;}
.vip_card_data_div05 a .follow-img{padding-left: 18px;background: url(../../images/cancel.png) left center no-repeat;}
.vip_card_contact{margin-top: 15px;}
.vip_card_contact h2{font-size: 18px;margin-bottom: 10px;}
.vip_card_contact dl dd{line-height: 25px;}
.vip_card_contact dl:after,.vip_card_contact dl:after { content: ""; display: block; clear: both }
.vip_card_contact_name{width: 50px;text-align: right;float: left;display: inline-block;}
.vip_card_contact_detail{float: left;width: 212px;display: inline-block;}

.vip_fred01{position: fixed;right: -262px;top: 30%;width: 300px;z-index: 99999;}
.vip_fred01:after { content: ""; display: block; clear: both; }
.vip_fred01 a{display: block;line-height: 30px;padding-top: 15px;position: absolute;top: 0px;left: 0px;padding-right: 120px;}
.vip_fred01 .liuyan{top: 50px;}
.vip_fred01 a:after { content: ""; display: block; clear: both; }
.vip_fred01 a img{display: block;float: left;margin-right: 15px;}
.vip_fred01 a span{float: left;font-size: 16px;color: #ce3232;display: inline-block;line-height: 30px;/*font-weight: bold;*/font-size: "宋体";}
.vip_fred02{position: fixed;right: 15px;bottom: 10%;z-index: 99999;height: 28px;width: 28px;border-radius: 30px;background: #e28484;}
.vip_fred02:hover{background: #ce3232;}

/* 底部 */
.copyright{background-color:#fff;height:76px ; padding:auto; padding-top: 15px ; text-align: center;}
.copyright p{font-size: 12px; font-weight: normal; font-family: "黑体"; line-height: 25px; color: #999;}
.copyright p span{margin-left: 20px;}