@charset "UTF-8";
/*common*/
body {
    background: #fff !important;
}
.wrap {
    width: 1180px;
    margin: 0 auto;
}
.wrap:after {
    content: "";
    display: table;
    clear: both;
}
#vip03Top {
    -webkit-box-shadow: 0 2px 4px rgba(155,143,143,.3);
    box-shadow: 0 2px 4px rgba(155,143,143,.3);
}
/*productDetail*/
.product_header {
    height: 360px;
    padding: 52px 0 66px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}
.product_header .pro_img {
    width: 360px;
    height: 360px;
    overflow: hidden;
    position: absolute;
}
.product_header .pro_img img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.product_header .pro_info {
    height: 360px;
    margin-left: 444px;
    position: relative;
}
.pro_info p {
    font-size: 14px;
    line-height:36px;
    color: #666;
    word-break:break-all;
}
.pro_info p span {
    margin-right: 20px;
}
.pro_info .name {
    font-size: 20px;
    line-height: 24px;
    color: #333;
    padding: 20px 0 40px;
}
.pro_info a {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: #000;
    position: absolute;
    bottom: 36px;
}
.product_detail {
    height: auto;
    overflow: hidden;
    padding-bottom: 40px;
}
.product_detail h3 {
    font-size: 20px;
    line-height: 100px;
    color: #333;
}
.product_detail p {
    font-size: 14px;
    line-height: 30px;
    color: #666;
}
.product_footer {
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    border-top: 1px solid #e6e6e6;
}
/*公司简介*/
.vip_content {
    height: auto;
    min-height:600px;
    overflow: hidden;
    padding: 60px 0;
}
.vip_content .content_header {
    text-align: center;
}
.vip_content .content_header h3 {
    font-size: 20px;
    line-height: 30px;
    color: #333;
}
.vip_content .content_header p {
    font-size: 14px;
    line-height: 30px;
    color: #999;
}
.vip_content .content_text {
    padding: 30px 0;
    font-size: 14px;
    line-height: 30px;
    color: #666;
}